/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    box-sizing: border-box;
    font-size: 36px;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.main {
    padding: 25px;
}

.flex-container {
    display: flex;
}

.search-and-time {
    display: flex;
    height: 65px;
    max-width: 640px;
    border: 1px solid black;
}

.transparent-button-border {
    border-bottom: none;
}

.search-and-time__form {
    display: flex;
    width: 75%;
    border-right: 1px solid black;
}

.search-and-time__label-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.search-and-time__input {
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 5%;
    font-size: 0.8em;
}

.button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-and-time__search-icon {
    width: 32px;
    height: 32px;
}

.search-and-time__time {
    margin: auto;
    font-size: 0.9em;

}

.widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    max-height: 575px;
    border: 1px solid black;
}


.transparent-right-border {
    border-right: none;
}

.tab-now {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    max-height: 525px;
    border: 1px solid black;
}

.tab-now__temperature {
    font-size: 2.5em;
    padding-top: 20px;
    padding-left: 20px;
}

.tab-now__degree-symbol {
    font-size: 1.5em;
    font-weight: 900;
    align-self: center;
}

.tab-now__condition {
    margin: 32px 0 16px;
    text-align: center;
    font-size: 1.3em;
}

.tab-now__condition-icon {
    display: block;
    margin: 0 auto;
    height: 170px;
}

.tab-now__city-wrap {
    display: flex;
    justify-content: space-between;
    margin: 53px 25px 35px;
    text-align: center;
}

.tab-now__city {

}

.tab-now__add-city {
    height: 32px;
    width: 32px;
}

.tab-details {
    padding: 20px 0 0 20px;
    font-size: 0.75em;
    line-height: 1.5em;
}

.tab-details__flex-wrap {
    display: flex;
    column-gap: 10px;
}

.tab-details__city {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.tabs {
    display: flex;
}

.tabs__item {
    flex: 1;
    font-size: 0.70em;
    text-align: center;
    list-style: none;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    padding: 10px 0;
}

.widget__tabs_active {
    color: white;
    background-color: black;
}

.transparent-left-border {
    border-left: none;
}

.locations {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 575px;
    border: 1px solid black;
}

.locations__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    border-bottom: 1px solid black;
}


.locations__favourite-cities {
    font-size: 1.1em;
    font-family: inherit;
    width: 100%;
    height: 458px;
    padding: 10px 0 0 10px;
    outline: none;
}

.locations__item-city {
    margin-bottom: 10px;
}

.transparent-border {
    border: none;
}

.hidden {
    display: none;
}